html, body {
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 10%;
    box-sizing: border-box;
    background-color: #1E6C93;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px ridge rgba(28, 110, 164, 0.37);
}

header p {
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    margin: 10px;
    text-shadow: 0 0 4px black;
}

header + section {
    display: flex;
    flex-flow: row wrap;
    margin: 30px auto;
    width: 80%;
    height: 80%;
}

#main > * {
    flex: 1 auto;
    align-items: center;
    margin: 30px auto;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile img {
    width: auto;
    height: auto;
    max-height: 300px;
}

.data > ol { /*Kehtib sellele listile, mis kirjeldab kasutajat*/
    box-sizing: border-box;
    margin: 7px;
    padding: 10px 10px 10px 25px; /* annab listile rohkem ruumi*/
    border: 1px solid rgba(0, 0, 0, 0.22);
}

.grades {
    box-sizing: border-box;
    /*border: 1px solid rgba(0, 0, 0, 0.22);*/
    margin: 20px 20px;
    /*background-color: #a4cbff;*/
}

.grades > h1 {
    margin: 5px 5px;
}

.table {
    border: 1px solid rgba(0, 0, 0, 0.22);
    /*Liigutab kasti borderit üles, annab listile rohkem ruumi*/
    padding: 6px;
    /*background-color: rgba(5, 118, 207, 0.38);*/
    /*margin: 5px 5px;*/
}

footer {
    height: 10%;
    background-color: #F2F2F2;
    margin-top: 50px;
}

footer ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer li {
    margin: auto 30px;
}

.links a {
    color: #808080;
    text-decoration: none;
}